# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3

env/
venv/
ENV/
.VENV/

.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log

*.pyc

*.tmp
*.bak
*.swp
*.swp.*
